.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  height: 31.25rem;
}

.galleryContainer article {
  /*flex: 1 0 25%;*/

  min-width: 15.62rem;
  /* margin: 10px;
  padding: 20px 20px 0;*/
  text-align: center;
  position: relative;
  min-height: 16.25rem;
  display: grid;
  overflow: hidden;
}
.media {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  cursor: pointer;
}
.media img,
.media video {
  height: 15rem;
  width: 15rem;
  border-radius: 0.31rem;
  object-position: 80% 10%;
  object-fit: cover;
}

.galleryContainer article #details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.8rem;
  color: #901c1c;
  font-weight: 400;
  width: 100%;
  flex-direction: row;
}

#likes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

#like-number {
  /*display: flex;*/
  width: 1.25rem;
  font-size: 1.2rem;
  font-weight: 400;
}

#heart {
  background: url(../assets/icons/heart-solid.svg) center center / 100% 100%;
  border: none;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  /*top: 5%;
  right: 0.62rem;*/
}

a {
  text-decoration: none;
}
