.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}
.lightbox.show {
  display: flex;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox_next,
.lightbox_prev {
  width: 3rem;
  height: 1.87rem;
  background: url(../assets/icons/chevron-right-solid.svg) center center / 100%
    100%;
  top: 50%;
  right: 0.62rem;
  margin-top: -0.87rem;
  z-index: 11;
}

.lightbox_prev {
  background: url(../assets/icons/chevron-left-solid.svg) center center / 100%
    100%;
  right: auto;
  left: 0.62rem;
}

.lightbox_close {
  background: url(../assets/icons/times-solid.svg) center center / 100% 100%;
  width: 2.19rem;
  height: 2.19rem;
  top: 5%;
  right: 0.62rem;
  z-index: 12;
}

.lightbox button {
  position: fixed;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  text-indent: -187.5rem;
}

.lightbox button:hover {
  transform: scale(1.2);
}
.lightbox_container img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  animation: lightboxIn 0.5s;
}
.lightbox_container {
  display: flex;
  flex-direction: column;

  width: 37.5rem;
  margin: auto;
}
.titleCurrentImg {
  display: flex;
  color: #901c1c;
  justify-items: flex-start;
}
#imgBox {
  width: 100%;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa {
  color: #901c1c;
}
