#contact_modal {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.photograph-header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.photograph-profil {
  display: flex;
  flex-wrap: wrap;

  background-color: #fafafa;
  border-radius: 0.31rem;
  height: 18.75rem;
  width: auto;
  margin: 3.12rem 6.25rem;

  justify-content: space-around;
  align-items: center;
}

.photograph_details {
  min-width: 15.62rem;
  /*flex: 1 0 25%;
  margin: 10px;
  padding: 20px 20px 0;
  text-align: center;display: grid;*/
  position: relative;
  overflow: hidden;
}

.photograph_details h2 {
  color: #d3573c;
  font-size: 4rem;
  margin: 0;
}
.photograph_details p {
  margin: 1.5rem 0;
}

.photograph_city {
  font-size: 1.5rem;
  line-height: 1.93rem;
  color: #901c1c;
}

.photograph_tag {
  font-size: 1.12rem;
  line-height: 1.5rem;

  color: #525252;
}

.photograph_picture {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  object-position: 80% 10%;
  object-fit: cover;
}

.contact_button {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 0.68rem;
  width: 10.62rem;
  height: 4.37rem;
  border: none;
  background-color: #901c1c;
  border-radius: 0.31rem;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #db8876;
  color: black;
}

/*dropdown---------------------------------------------*/
#tri {
  position: absolute;
  min-height: 16.25rem;
  width: 22.5rem;
  height: 12.5rem;
  left: 8%;
  top: 15%;
}

.dropbox {
  position: absolute;
  width: 4.62rem;
  height: 1.43rem;
  left: 5%;
  top: 21.87rem;
  line-height: 1.5rem;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.12rem;

  color: #000000;
}

.btn-select {
  background-color: #901c1c;
  border-color: transparent;
  border-radius: 0.31rem;
  color: white;
  font-size: 1.12rem;
  min-height: 3.12rem;
  padding: 0.31rem 0.62rem;
  width: 10.62rem;
  height: 0.62rem;

  position: absolute;
  width: 10.62rem;
  height: 4.31rem;
  left: 30%;
  top: 20.31rem;

  filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.option * {
  height: 1.87rem;
}

/*counter---------------------------------*/

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 1.25rem;
  width: 23.5rem;
  height: 3.75rem;
  background: #db8876;
  border-radius: 0.31rem;
  border-radius: 0.31rem;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 2;
}
