@import url("photographer.css");
@import url("gallery.css");

@import url("contactForm.css");
/*@import url("modal.css");*/
@import url("lightbox.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1.87rem;
  text-decoration: none;
  width: 100%;
}

h1 {
  color: #901c1c;
  margin-right: 6.25rem;
  font-size: 2.25rem;
}

.logo {
  height: 3.12rem;
  margin-left: 6.25rem;
}

p {
  line-height: 0.1rem;
  margin: 0.5rem;
}

/*section grille de photographes */
.photographer_section {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.photographer_section article {
  flex: 1 0 15%;

  min-width: 15.62rem;
  margin: 0.62rem;
  padding: 1.25rem 1.25rem 0;
  text-align: center;
  position: relative;
  min-height: 16.25rem;
  display: grid;
  overflow: hidden;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2.25rem;
}

.photographer_picture {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_city {
  font-size: 0.81rem;
  color: #901c1c;
}

.photographer_tag {
  font-size: 0.62rem;
  color: black;
}

.photographer_price {
  font-size: 0.56rem;
  color: #525252;
}
